extends layout
block append body
  body
    #myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Carousel items
      .carousel-inner
        .active.item &mldr;
        .item &mldr;
        .item &mldr;
      // Carousel nav
      a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;
      a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;
